<form [formGroup]="videoForm" (ngSubmit)="submit()" class="admin-form">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
    <mat-error *ngIf="videoForm.get('title')?.hasError('required')"> Title is required. </mat-error>
    <mat-error *ngIf="videoForm.get('title')?.hasError('minlength')"> Must be at least 3 characters. </mat-error>
    <mat-error *ngIf="videoForm.get('title')?.hasError('maxlength')"> Cannot exceed 100 characters. </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
    <mat-error *ngIf="videoForm.get('description')?.hasError('maxlength')"> Max 300 characters. </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Image URL</mat-label>
    <input matInput formControlName="imageUrl" />
    <mat-error *ngIf="videoForm.get('imageUrl')?.hasError('required')"> Image URL is required. </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Video URL</mat-label>
    <input matInput formControlName="videoUrl" />
    <mat-error *ngIf="videoForm.get('videoUrl')?.hasError('required')"> Video URL is required. </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Creation Date</mat-label>
    <input matInput type="date" formControlName="createdAt" [max]="today" />
    <mat-error *ngIf="videoForm.get('createdAt')?.hasError('required')"> Date is required. </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="videoForm.invalid"> Add Video </button>
</form>
<button mat-stroked-button color="primary" (click)="goBack()">
  <mat-icon>arrow_back</mat-icon> Go Back </button>
<div class="card-grid">
  <div class="video-card" *ngFor="let video of customVideos()">
    <img [src]="video.imageUrl" [alt]="video.title" />
    <div class="info">
      <h3>{{ video.title }}</h3>
      <p class="description">{{ video.description }}</p>
      <small>📅 {{ video.createdAt }}</small>
    </div>
    <button mat-icon-button color="warn" (click)="delete(video.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>